.root{
    -fx-font-family: "Comic Sans";
    -fx-base: rgb(132, 145, 47);
    -fx-background: rgb(225, 228, 203);
}
.new-button{
    -fx-text-fill: #006464;
    -fx-background-color: #DFB951;
    -fx-border-radius: 20;
    -fx-background-radius: 20;
    -fx-padding: 5;
    -fx-font-size: 5px;
}
